.account {
  position: relative;
  min-height: 100vh;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .3rem .58rem;
  box-sizing: border-box;
  background: rgb(99, 169, 238);
  margin-bottom: .37rem;
}

.avator {
  width: 1.76rem;
  height: 1.76rem;
  border-radius: 50%;
  margin-right: .32rem;
}

.user-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-name {
  font-size: .42rem;
  font-weight: bold;
  margin: .4rem 0 .29rem;
}

.shubi {
  /* font-size: .3rem; */
}
.action {
  /* padding: .3rem 0; */
}

.action li {
  padding: .3rem .3rem;
  background: rgb(99, 169, 238);
  margin-bottom: .1rem;
  color: #fff;
}

/*.action li.chongzhi div {*/
  /*float: right;*/
  /*width: 1.5rem;*/
  /*height: .7rem;*/
  /*display: inline-block;*/
  /*border-radius: .1rem;*/
  /*background: #fff;*/
  /*border: 0;*/
  /*font-size: .36rem;*/
  /*font-weight: bold;*/
  /*line-height: .7rem;*/
  /*margin-top: -.1rem;*/
  /*text-align: center;*/
  /*color: #000;*/
/*}*/

.action li span.arrow {
  display: block;
  float: right;
}

.box_l {
  width: 2.35rem;
  height: .69rem;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  margin-left: -1.175rem;
  line-height: .69rem;
}

.btn_l {
  background: #0d71bb;
  border-radius: .1rem;
  text-align: center;
  color: #fff;
}