.account {
  position: relative;
  min-height: 100vh;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .77rem .58rem;
  box-sizing: border-box;
  background: rgb(99, 169, 238);
  margin-bottom: .37rem;
}

.avator {
  width: 1.76rem;
  height: 1.76rem;
  border-radius: 50%;
  margin-right: .32rem;
}

.user-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-name {
  font-size: .42rem;
  font-weight: bold;
  margin: .4rem 0 .29rem;
}

.shubi {
  /* font-size: .3rem; */
}
.action {
  /* padding: .3rem 0; */
}

.action li {
  padding: .3rem .7rem;
  background: rgb(99, 169, 238);
  margin-bottom: .1rem;
  color: #fff;
}

.chongzhi button {
  float: right;
  width: 1.5rem;
  height: .7rem;
  border-radius: .1rem;
  background: #fff;
  border: 0;
  font-size: .36rem;
  font-weight: bold;
  margin-top: -.1rem;
  color: #000;
}

.action li span.arrow {
  display: block;
  float: right;
}

.box_l {
  width: 2.35rem;
  height: .69rem;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  margin-left: -1.175rem;
  line-height: 2.35rem;
  text-align: center;
}

.btn_l {
  width: 100%;
  height: 100%;
  background: #0d71bb;
}