* {
  font-size: .36rem;
}

.tab_container {
  border-bottom: .01rem solid #b9b9b9;
  overflow: hidden;
  margin-bottom: .15rem;
}

.tab_container li {
  float: left;
  text-align: center;
  width: 50%;
}

.tab_container li a {
  font-size: .24rem;
  display: block;
  width: 100%;
  padding: .1rem 0;
  color: #b9b9b9;
}

.tab_container li.active {
  color: #b2b2b2;
}

.books_container {
  padding: .36rem;
}

.book_item {
  margin-bottom: .16rem;
  margin-bottom: .3rem;
}

.book_item img {
  width: 1.84rem;
  height: 2.5rem;
  vertical-align: top;
  float: left;
  box-shadow: -1px 1px 1px 1px #b6b6b6;
}

.book_info {
  padding-left: .2rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: .4rem;
  margin-bottom: .2rem;
  padding-top: .2rem;
}

.desc {
  height: 1rem;
  line-height: .5rem;
  color: #b9b9b9;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto .1rem;
  font-size: .3rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.share-btn {
  padding: 0 .1rem;
  float: right;
  font-size: .27rem;
}