/* 小说详情 */
.container {
  position: relative;
  padding-bottom: 1rem;
}

.book-info-container {
  display: flex;
  flex-direction: row;
  margin-top: .3rem;
  align-items: flex-start;
  padding: 0 5%;
  text-align: left;
}

.book-info-container img {
  width: 2.2rem;
}

.book-info {
  padding-left: .48rem;
  display: flex;
  flex-direction: column;
}

.book-info span {
  font-size: .32rem;
}

.book-info span.title {
  font-size: .4rem;
  font-weight: bold;
  margin: .1rem 0 .5rem;
}

.book-info span.type {
  margin-bottom: .2rem;
  font-size: .3rem;
}

.book-info span .blue {
  color: blue;
}

.book-info span .red {
  color: red;
}

.share-btn {
  padding: 0 .1rem;
  float: right;
  font-size: .27rem;
}

/* 按钮 */

.book-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.book-btn div {
  width: 50%;
  float: left;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}

.add_shelf {
  background: #eee;
}

/* 小说简介 */
.desc {
  font-size: .3rem;
  display: block;
  padding: .69rem 5% .3rem;
  line-height: .5rem;
  letter-spacing: 3px;
  border-bottom: .02rem solid #b9b9b9;
  text-align: left;
  text-indent: 2em;
}

.chapter {
  text-align: left;
  margin-bottom: .42rem;
}

.chapter-title {
  line-height: 1rem;
  margin-left: .3rem;
  font-size: .4rem;
}

.chapter_list li {
  padding: .3rem .5rem;
  border-bottom: 1px solid #b9b9b9;
  font-size: .3rem;
}

.chapter_list li p {
  display: inline;
  font-size: .3rem;
}

.chapter_list li span {
  display: block;
  float: right;
  font-size: .3rem;
}

.free {
  color: red;
}

.pay {
  color: blue;
}