<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/account.css">
  <title>我的</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
  <div class="account">
    <div class="user-info">
      <img class="avator" src="/img/avatar.png"
        alt="">
      <div class="user-desc">
        <span class="user-name">佚名</span>
        <p class="shubi">书币: <span><%= balance %></span></p>
      </div>
    </div>
    <ul class="action">
      <li class="chongzhi">
        <span>书币充值</span>
        <button>充值</button>
      </li>
      <li class="record">
        <span>充值记录</span>
        <span class="arrow">></span>
      </li>
      <li class="yijian">
        <span>意见反馈</span>
        <span class="arrow">></span>
      </li>
    </ul>
    <div class="logout">
      <img src="/img/logout.png" alt="" srcset="">
    </div>
  </div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<!--<script src="/js/fastclick.js"></script>-->
<script>
$(function() {
  // FastClick.attach(document.body)
  $(".yijian").tap(function() {
    console.log(1)
  })
})
</script>
<script>
toPayPage()
function toPayPage() {
  $(".chongzhi button").tap(function() {
    window.location.href = "/recharge"
  })
  $(".record").tap(function() {
    window.location.href = "/record"
  })
}
$(function() {
  $(".logout").tap(function() {
    window.location.href = "/logout"
  })
})
</script>
<!-- <script>
  // 移动端调试
  (function () {
    var script = document.createElement('script');
    script.src = "http://eruda.liriliri.io/eruda.min.js";
    document.body.appendChild(script);
    script.onload = function () {
      eruda.init()
    }
  })()
</script> -->

</html>