<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/bookStore.css">
  <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="/css/dropload.css">
  <title>书城</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
  <div class="book_store">
    <ul class="tab_container">
      <li data-tag_sex="2">
        <a href="javascript:;">男生</a>
      </li>
      <li data-tag_sex="1">
        <a href="javascript:;">女生</a>
      </li>
    </ul>
    <div class="books_container">
      <ul class="book_list"></ul>
    </div>
  </div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/cookie.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/dropload.min.js"></script>
<script src="/js/http.js"></script>
<script>
  $(function () {
    let tag = getCookie("tag_sex")
    if (tag) {
      getBookList(1, tag)
    } else {
      getBookList(1, 2)
    }
    detailClick()
    $(".tab_container").on("tap", "li", function () {
      console.log("sex")
      $(".tab_container li").removeClass("active")
      $(this).addClass("active")
      let tag_sex = $(this).attr("data-tag_sex");
      setCookie("tag_sex", tag_sex)
      $(".book_list").empty()
      getBookList(1, tag_sex)
    })
  })

  function detailClick() {
    $(".book_list").on("tap", "li", function () {
      let id = $(this).attr("data-id");
      window.location.href = "/bookDetail?id=" + id
    })
  }

  function getBookList(page, tag_sex) {
    httpRequest("/book/all", "get", {
        page: page,
        tag_sex: tag_sex
      }, function (res) {
        renderBookList(res.data)
        if (tag_sex == 1) {
          $(".tab_container li").removeClass("active")
          $(".tab_container li").eq(1).addClass("active")
        } else if (tag_sex == 2) {
          $(".tab_container li").removeClass("active")
          $(".tab_container li").eq(0).addClass("active")
        }
      })
  }

  function renderBookList(data) {
    let html = "";
    $.each(data, function (i, el) {
      html +=
        `
      <li data-id="${el.id}" class="book_item">
        <img src="${el.image}" alt="" srcset="">
        <div class="book_info">
          <span class="title">${el.title}</span>
          <span class="desc">${el.desc}</span>
          <span style="font-size: .3rem;">
            <span class="${el.xstype == 1 ? 'blue' : 'red'}">
              ${el.xstype == 1 ? '已完结' : '连载中'}
            </span>
            | 都市
          </span>
        </div>
      </li>
    `
    })
    $(".book_list").append(html)
  }
</script>

</html>