<!DOCTYPE html>
<html lang="en" style="font-size:48px">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="Keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/chapters.css">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/css/dropload.css">
    <script src="/js/rem.js"></script>
    <title>目录</title>
    <style>
        body {
            background: rgb(241, 242, 247);
        }
    </style>
</head>

<body>
<div class="loading" style="position: fixed;width: 100vw;height: 100vh;background: #fff;top: 0;left: 0; z-index:1000;">
    <img style="width: 20px;position: absolute;top: 30%;left: 50%;margin-left: -10px;" src="/img/loading.gif" alt="">
</div>
<div class="book-detail">
    <div class="chapter">
        <span class="chapter-title"><%= title %></span>
        <ul class="chapter_list">

        </ul>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/dropload.min.js"></script>
<script src="/js/http.js"></script>
<script>
  document.onreadystatechange = function () {
    if (document.readyState == "complete") {
      $(".loading").remove()
    }
  }
</script>
<script>
  $(function () {
    let id = location.search.split("=")[1].split("&")[0]
    let title = "<%= title %>"
    let arr = []
    httpRequest("/chapter/all?bid=" + id, "get", {}, function (res) {
      arr = res.data
      let html = "", firstArr = arr.splice(0, 20);
      $.each(firstArr, function (i, el) {
        html += `
                    <li data-id="${el.id}">
                      <p>${el.title.slice(0, 15)}</p>
                      <span class='${el.isvip == 0 ? "free" : "pay"}'>${el.isvip == 0 ? "免费" : "付费"}</span>
                    </li>
                  `
      })
      $(".chapter_list").append(html)
      $('.book-detail').dropload({
        scrollArea: window,
        domDown: {
          domClass: 'dropload-down',
          domRefresh: '<div class="dropload-refresh">上拉加载更多</div>',
          domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
          domNoData: '<div class="dropload-noData">到底了</div>'
        },
        loadDownFn: function (me) {
          setTimeout(function () {
            let html = "", result = arr.splice(0, 20);
            $.each(result, function (i, el) {
              html += `
                <li data-id="${el.id}">
                  <p>${el.title.slice(0, 15)}</p>
                  <span class='${el.isvip == 0 ? "free" : "pay"}'>${el.isvip == 0 ? "免费" : "付费"}</span>
                </li>
              `
            })
            $(".chapter_list").append(html)
            me.resetload();
            if (result.length < 20) {
              // 锁定
              me.lock();
              // 无数据
              me.noData();
              me.resetload();
            }
          }, 500);
        }
      });
    })
    chapterClick(id, title)
  })
</script>
<script>
  function chapterClick(bid, title) {
    $(".chapter_list").on("tap", "li", function () {
      let id = $(this).attr("data-id")
      window.location.href = "/content?bid=" + bid + "&id=" + id + "&title=" + title;
    })
  }
</script>

</html>