<!DOCTYPE html>
<html lang="en" style="font-size:48px">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
  <script src="/js/rem.js"></script>
  <title>内容</title>
</head>

<body>
<!--<div class="loading" style="position: fixed;width: 100vw;height: 100vh;background: #fff;top: 0;left: 0; z-index:1000;">-->
  <!--<img style="width: 20px;position: absolute;top: 30%;left: 50%;margin-left: -10px;" src="/img/loading.gif" alt="">-->
<!--</div>-->
  <div class="detail">
    <div class="chapter-container">
      <span class="chapter-name"><%= data.title %></span>
      <div class="setting">
        <ul class="color-setting">
          <li data-color="#eee" class="color-huise"></li>
          <li data-color="#cfc0a9" class="color-shushi"></li>
          <li data-color="#cfe5bc" class="color-lvse"></li>
          <li data-color="#2c3e50" class="color-heise"></li>
        </ul>
        <ul class="font-setting">
          <li class="font-add">A+</li>
          <li class="font-reduce">A-</li>
        </ul>
      </div>
      <div class="chapter-content">
        <%- data.content %>
      </div>
      <ul class="btn-wrapper">
        <li class="change-chapter prev_chapter" style='display: <%= isfirst ? "none" : "block" %>'><span>上一章</span></li>
        <li class="to-chapters"><span>目录</span></li>
        <li class="change-chapter next_chapter" style='display: <%= islast ? "none" : "block" %>'><span>下一章</span></li>
      </ul>
    </div>
  </div>
</body>
<script src="/js/cookie.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/http.js"></script>
<script src="/js/content.js"></script>
<script>

</script>
</html>