<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/footer.css">
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
<div class="footer">
  <ul>
    <li class="selected">
      <a href="./bookShelf">书架</a>
    </li>
    <li>
      <a href="./bookStore">书城</a>
    </li>
    <li>
      <a href="./account">我的</a>
    </li>
  </ul>
</div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
  $(function () {
    let path = "<%= path %>";
    $(".footer ul li").removeClass('selected');
    switch (path) {
      case 'account':
        $(".footer ul li").eq(2).addClass('selected');
        $(".footer ul li").eq(2).find("a").click(function () {
          return false;
        })
        break;
      case 'bookShelf':
        $(".footer ul li").eq(0).addClass('selected');
        $(".footer ul li").eq(0).find("a").click(function () {
          return false;
        })
        break;
      default:
        $(".footer ul li").eq(1).addClass('selected');
        $(".footer ul li").eq(1).find("a").click(function () {
          return false;
        })
    }
  })
</script>

</html>