<!DOCTYPE html>
<html lang="en" style="font-size:48px">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/recharge.css">
  <script src="/js/rem.js"></script>
  <title>支付页面</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
<div class="loading" style="position: fixed;width: 100vw;height: 100vh;background: #fff;top: 0;left: 0; z-index:1000;">
  <img style="width: 20px;position: absolute;top: 30%;left: 50%;margin-left: -10px;" src="/img/loading.gif" alt="">
</div>
  <div class="recharge">
    <div class="container">
      <span class="title">后续章节更精彩，请付费后继续阅读</span>
      <ul class="recharge-list">
        <li class="price365 selected">
          <span>365元</span>
          <span>购买10-20章节</span>
        </li>
      </ul>
      <div class="submit">提交订单</div>
      <div class="remarks">
        <span>书币属虚拟物品，⼀经购买不得退换</span>
      </div>
    </div>
  </div>
</body>
<script src="/js/jquery.min.js"></script>
<script>
  document.onreadystatechange = function () {
    if(document.readyState == "complete") {
      $(".loading").remove()
    }
  }
</script>

<script>
$(function() {
  $(".submit").on("click", function() {
    let price = 365
  })
})
</script>
</html>