<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="Keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/record.css">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
    <title>充值记录</title>
</head>

<body>
<div class="record">
    <ul></ul>
</div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/http.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script>
    httpRequest("/order/user", "get", {}, function (res) {
        if (res.success) {
            let data = res.data, html = "";
            if(data.length == 0) {
                html += `
                    <p style="text-align: center;line-height: 1rem;color: #666;">您还没有充值订单</p>
                `
            } else {
                $.each(data, function (i, el) {
                    html += `
                        <li>
                            <div>
                                  <span class="date">${formatDate(el.createAt)}</span>
                                  <span class="money">充值${el.total_fee}元</span>
                            </div>
                            <p class="order_id">订单ID: <span>${el.order_number}</span></p>
                         </li>
                    `
                })
            }
            $(".record ul").append(html)
        }
    })
    function formatDate(time) {
        var date = new Date(time);
        var year = date.getFullYear(),
            month = date.getMonth() + 1,
            day = date.getDate(),
            hour = date.getHours(),
            min = date.getMinutes();
        var newTime =
            year +
            "-" +
            (month < 10 ? "0" + month : month) +
            "-" +
            (day < 10 ? "0" + day : day) +
            " " +
            (hour < 10 ? "0" + hour : hour) +
            ":" +
            (min < 10 ? "0" + min : min);
        return newTime;
    }
</script>

</html>